.wowmall-admin-media-wrapper {
	display: flex;
	justify-content: center;
}

.wowmall-admin-media-add {
	width: 100px;
	text-align: center;
	margin: 0 auto;
	box-sizing: border-box;
	border: 2px dashed #666;
	height: 100px;
	cursor: pointer;
	display: flex;
	align-items: center;
	padding: 10px;
	> span{

	}
}

.wowmall-admin-media-image {
	width: 100px;
	height: 100px;
	margin: 0 auto;
	box-sizing: border-box;
	position: relative;
	cursor: pointer;
	background-position: 50%;
	background-size: cover;
	.dashicons-dismiss{
		visibility: hidden;
		position: absolute;
		top: -10px;
		right: -10px;
		cursor: pointer;
		font-size: 20px;
		color: #d54e21;
		&:hover {
			color: lighten(#d54e21, 5%);
		}
	}
	&:hover{
		.dashicons-dismiss{
			visibility: visible;
		}
	}
}