
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Contacts page
--------------------------------------------------------------*/
@import "primary/contacts";

/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
@import "primary/header";

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
@import "primary/footer";

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
@import "primary/asides";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";

/*--------------------------------------------------------------
## 404
--------------------------------------------------------------*/
@import "primary/404";

/*--------------------------------------------------------------
## Sitemap
--------------------------------------------------------------*/
@import "primary/sitemap";

html {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	&[lang] {
		margin-top: 0 !important;
	}
	&.wowmall-prevent-scrolling {
		-webkit-overflow-scrolling: auto;
		position: fixed;
		width: 100%;
		left: 0;
	}
}

body {
	flex: 1 0 100%;
	display: flex;
	flex-direction: column;
	&.single-post {
		overflow-x: hidden;
	}
	#page {
		overflow: hidden;
	}
	> #page {
		flex: 1 0 auto;
		> #content {
			margin: 0 15px;
			@include media-breakpoint-up(md) {
				margin: 0 60px;
			}
		}
	}
	&.admin-bar {
		padding-top: 32px;
		@media (max-width: 782px) {
			padding-top: 46px;
		}
	}
}

#secondary {
	padding-bottom: 48px;
}