.woocommerce dl.variation,
.woocommerce td.product-name dl.variation {
  border: none;
  margin: 0;
  padding: 0;
  font-size: .7777777777777778rem;
  line-height: 1.714285714285714; }
  .woocommerce dl.variation dt,
  .woocommerce td.product-name dl.variation dt {
    padding: 0;
    font-weight: normal; }
  .woocommerce dl.variation dd,
  .woocommerce td.product-name dl.variation dd {
    margin: 0;
    padding: 0; }
    .woocommerce dl.variation dd p,
    .woocommerce td.product-name dl.variation dd p {
      margin: 0; }
.woocommerce table.cart {
  margin: 0 0 34px; }
  .woocommerce table.cart th.product-name {
    padding-left: 0; }
  .woocommerce table.cart th:not(.product-remove):not(.product-name) {
    width: 15.4%;
    border-left: 1px solid #e4e4e4;
    text-align: center; }
  .woocommerce table.cart td {
    padding: 40px 1.77%; }
    .woocommerce table.cart td.product-remove {
      padding-left: 0;
      position: relative; }
      @media (min-width: 768px) {
        .woocommerce table.cart td.product-remove {
          width: 3%; } }
      @media (max-width: 767px) {
        .woocommerce table.cart td.product-remove a.remove {
          position: absolute;
          top: 10px;
          right: 10px; } }
    .woocommerce table.cart td.product-name .product-content-wrapper {
      display: flex;
      align-items: center; }
      .woocommerce table.cart td.product-name .product-content-wrapper .product-thumbnail {
        margin-right: 7.4%;
        flex: 0 0 auto;
        max-width: 25.6%; }
        .woocommerce table.cart td.product-name .product-content-wrapper .product-thumbnail a {
          display: block; }
      .woocommerce table.cart td.product-name .product-content-wrapper .product-content {
        word-wrap: break-word;
        -webkit-line-break: after-white-space; }
        .woocommerce table.cart td.product-name .product-content-wrapper .product-content h6 {
          margin: 0 0 3px; }
    .woocommerce table.cart td:not(.product-remove):not(.product-name) {
      text-align: center;
      font-size: 1.444444444444444rem;
      font-weight: 700; }
      @media (min-width: 768px) {
        .woocommerce table.cart td:not(.product-remove):not(.product-name) {
          border-left: 1px solid #e4e4e4; } }
    .woocommerce table.cart td .qty {
      font-size: .8888888888888889rem !important;
      font-weight: 700;
      padding: 13px 0 19px 17px;
      margin: 0;
      line-height: inherit;
      width: 112px;
      max-width: 100%; }
      .woocommerce table.cart td .qty.mobile, .mobile .woocommerce table.cart td .qty {
        padding-right: 17px; }
  .woocommerce table.cart img {
    width: auto;
    display: block; }
.woocommerce .cart_totals table.shop_table,
.woocommerce .woocommerce-checkout-review-order table.shop_table {
  border-bottom: none; }
  @media (min-width: 768px) {
    .woocommerce .cart_totals table.shop_table tr th,
    .woocommerce .cart_totals table.shop_table tr td,
    .woocommerce .woocommerce-checkout-review-order table.shop_table tr th,
    .woocommerce .woocommerce-checkout-review-order table.shop_table tr td {
      padding: 5px 12px 9px; } }
  .woocommerce .cart_totals table.shop_table tr th,
  .woocommerce .woocommerce-checkout-review-order table.shop_table tr th {
    width: 20%;
    padding-left: 0; }
  .woocommerce .cart_totals table.shop_table tr.cart-subtotal th,
  .woocommerce .cart_totals table.shop_table tr.cart-subtotal td,
  .woocommerce .woocommerce-checkout-review-order table.shop_table tr.cart-subtotal th,
  .woocommerce .woocommerce-checkout-review-order table.shop_table tr.cart-subtotal td {
    padding-top: 33px; }
  .woocommerce .cart_totals table.shop_table tr.shipping th,
  .woocommerce .cart_totals table.shop_table tr.shipping td,
  .woocommerce .woocommerce-checkout-review-order table.shop_table tr.shipping th,
  .woocommerce .woocommerce-checkout-review-order table.shop_table tr.shipping td {
    border-top-color: transparent;
    padding-bottom: 39px; }
  @media (min-width: 768px) {
    .woocommerce .cart_totals table.shop_table tr.shipping th + td,
    .woocommerce .woocommerce-checkout-review-order table.shop_table tr.shipping th + td {
      max-width: 1px; } }
  .woocommerce .cart_totals table.shop_table tr.shipping ul#shipping_method li:before,
  .woocommerce .woocommerce-checkout-review-order table.shop_table tr.shipping ul#shipping_method li:before {
    content: none; }
  .woocommerce .cart_totals table.shop_table tr.order-total th,
  .woocommerce .cart_totals table.shop_table tr.order-total td,
  .woocommerce .woocommerce-checkout-review-order table.shop_table tr.order-total th,
  .woocommerce .woocommerce-checkout-review-order table.shop_table tr.order-total td {
    padding-top: 37px;
    vertical-align: bottom; }
  .woocommerce .cart_totals table.shop_table tr.order-total td,
  .woocommerce .woocommerce-checkout-review-order table.shop_table tr.order-total td {
    font-size: 1.444444444444444rem; }
  .woocommerce .cart_totals table.shop_table tr td,
  .woocommerce .woocommerce-checkout-review-order table.shop_table tr td {
    line-height: inherit;
    padding-right: 0; }
  .woocommerce .cart_totals table.shop_table tr.cart-subtotal td,
  .woocommerce .woocommerce-checkout-review-order table.shop_table tr.cart-subtotal td {
    font-weight: 700;
    font-size: .8888888888888889rem; }
.woocommerce ul#shipping_method {
  margin: 0 0 22px;
  display: inline-block;
  vertical-align: top;
  max-width: 100%; }
  .woocommerce ul#shipping_method li {
    text-indent: 0;
    padding: 0 0 8px;
    display: flex;
    align-items: center; }
    .woocommerce ul#shipping_method li input {
      margin: 0 7px 0 0;
      flex: 0 0 auto; }
    .woocommerce ul#shipping_method li label {
      display: flex;
      justify-content: space-between;
      color: inherit;
      flex: 0 1 100%;
      min-width: 0; }
      .woocommerce ul#shipping_method li label span.label {
        word-wrap: break-word;
        -webkit-line-break: after-white-space;
        max-width: 100%;
        padding-right: 20px;
        min-width: 0; }
      .woocommerce ul#shipping_method li label .amount {
        letter-spacing: 0;
        color: inherit; }
.woocommerce .shipping-calculator-button {
  text-transform: uppercase;
  font-size: .8888888888888889rem;
  font-weight: 700;
  letter-spacing: .053rem; }
.woocommerce .shipping-calculator-form {
  padding: 1px 0 0; }
  .woocommerce .shipping-calculator-form .form-row {
    margin: 20px 0 0; }
    .woocommerce .shipping-calculator-form .form-row:first-child {
      margin-top: 0; }
  .woocommerce .shipping-calculator-form p {
    padding: 0;
    margin: 0 0 20px; }
  .woocommerce .shipping-calculator-form .ui-selectmenu-button {
    display: flex;
    justify-content: space-between;
    padding: 6px 17px 8px 20px;
    font-size: .7777777777777778rem; }
    .woocommerce .shipping-calculator-form .ui-selectmenu-button .ui-icon {
      display: none; }
  .woocommerce .shipping-calculator-form .ui-selectmenu-menu .ui-menu {
    background: #f7f7f7;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: .7777777777777778rem; }
    .woocommerce .shipping-calculator-form .ui-selectmenu-menu .ui-menu li:before {
      content: none; }
  .woocommerce .shipping-calculator-form .select2-container {
    width: 100% !important; }

.wc-update-cart {
  padding: 3px 8px;
  margin: -3px -8px;
  background: none;
  font-size: .7777777777777778rem;
  transition: color .3s ease;
  display: inline-flex; }
  .wc-update-cart .btn-inner {
    display: inline-flex;
    align-items: center;
    pointer-events: none; }
    .wc-update-cart .btn-inner:before {
      content: '\e8ff';
      font-family: 'myfont';
      font-size: 1.111111111111111rem;
      margin-right: 10px;
      transition: color .3s ease; }
      .processing .wc-update-cart .btn-inner:before {
        animation: loading 2s infinite linear; }
  .wc-update-cart[disabled] {
    color: inherit; }
    .wc-update-cart[disabled] .btn-inner:before {
      color: #a3a3a3; }

.btn[name=calc_shipping] {
  margin-top: 5px; }
  .btn[name=calc_shipping]:before {
    display: inline-block;
    content: '\e8ff';
    font-family: 'myfont';
    font-size: 1.111111111111111rem;
    vertical-align: top;
    margin-right: 10px;
    font-weight: normal; }
    .processing .btn[name=calc_shipping]:before {
      animation: loading 2s infinite linear; }

form.woocommerce-shipping-calculator {
  display: none !important; }

input.button[name=apply_coupon][type=submit] {
  display: none; }

.bordered-box {
  border: 3px solid #e4e4e4;
  padding: 0 7.3% 25px; }
  .bordered-box h3 {
    margin: 27px 0 31px; }

@media (max-width: 991px) {
  .cart-collaterals {
    margin-top: 30px; } }
.cart-collaterals .coupon {
  border-top: 1px solid #e4e4e4;
  padding: 32px 0 40px; }
  .cart-collaterals .coupon label {
    display: block;
    margin: 0 0 3px; }
  .cart-collaterals .coupon .coupon-form {
    display: flex; }
    .cart-collaterals .coupon .coupon-form input[name="coupon_code"] {
      flex: 1 1 auto;
      margin-right: 10px;
      min-width: 0; }
.cart-collaterals .actions.woocommerce > .woocommerce-error,
.cart-collaterals .actions.woocommerce > .woocommerce-info,
.cart-collaterals .actions.woocommerce > .woocommerce-message {
  display: none !important; }

#cart_form {
  margin-bottom: 80px; }
  @media (max-width: 991px) {
    #cart_form {
      margin-bottom: 30px; } }

.wc-cart-empty {
  text-align: center;
  padding: 277px 0 0;
  position: relative; }
  .wc-cart-empty:before, .wc-cart-empty:after {
    position: absolute;
    font-family: 'myfont';
    left: 50%;
    top: 95px;
    line-height: 1;
    transform: translate(-50%, 0); }
  .wc-cart-empty:before {
    content: '\e893';
    font-size: 187.49px;
    color: #e6e6e6; }
  .wc-cart-empty:after {
    content: '\e868';
    color: #fff;
    font-size: 47px;
    top: 152px;
    margin-left: -5px; }
  .wc-cart-empty p.cart-empty {
    font-size: 1.444444444444444rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .058em;
    margin: -4px 0 36px; }
  .wc-cart-empty + p.return-to-shop {
    padding: 0 0 106px;
    text-align: center; }

/*# sourceMappingURL=cart.css.map */
