button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: none;
  color: rgba(0, 0, 0, 0.8);
  padding: 7px 30px; }

input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: none; }

.btn {
  display: inline-block;
  text-transform: uppercase;
  font-family: inherit;
  font-weight: 700 !important;
  font-size: .8888888888888889rem !important;
  padding: 17px 39px;
  letter-spacing: .05em;
  background: #f7f7f7;
  transition: color .3s ease, outline-color .3s ease, background-color .3s ease; }
  .btn:hover, .btn:hover.btn-default {
    color: #fff; }
  body.focus-styles .btn:focus, body.focus-styles .btn:focus.btn-default {
    color: #fff; }
  .btn.btn-primary {
    color: #fff; }
    .btn.btn-primary.disabled {
      background: #f7f7f7;
      cursor: not-allowed; }
  .btn-sm {
    padding: 7px 30px; }
  .btn-xs {
    text-transform: none;
    font-weight: normal !important;
    font-size: .7777777777777778rem !important;
    padding: 7px 17px; }
  .btn.btn-border {
    outline: 1px solid #e4e4e4;
    outline-offset: -1px;
    background: none; }
    .btn.btn-border:before {
      color: #a3a3a3; }
    .header-cart-wrapper .btn.btn-border,
    .dark-row .btn.btn-border {
      outline-color: #444;
      outline-width: 2px;
      outline-offset: -2px;
      color: #fff; }
      .header-cart-wrapper .btn.btn-border.btn-xs,
      .dark-row .btn.btn-border.btn-xs {
        outline-width: 1px;
        outline-offset: -1px; }
      .header-cart-wrapper .btn.btn-border:before,
      .dark-row .btn.btn-border:before {
        color: inherit; }
      .header-cart-wrapper .btn.btn-border:hover, .header-cart-wrapper .btn.btn-border:focus,
      .dark-row .btn.btn-border:hover,
      .dark-row .btn.btn-border:focus {
        outline-color: #fff; }
      .header-cart-wrapper .btn.btn-border.btn-light,
      .dark-row .btn.btn-border.btn-light {
        outline-color: #fff; }
        .header-cart-wrapper .btn.btn-border.btn-light:hover, .header-cart-wrapper .btn.btn-border.btn-light:focus,
        .dark-row .btn.btn-border.btn-light:hover,
        .dark-row .btn.btn-border.btn-light:focus {
          background: #fff; }
          .header-cart-wrapper .btn.btn-border.btn-light:hover:before, .header-cart-wrapper .btn.btn-border.btn-light:focus:before,
          .dark-row .btn.btn-border.btn-light:hover:before,
          .dark-row .btn.btn-border.btn-light:focus:before {
            color: #a3a3a3; }
    .btn.btn-border:hover, .btn.btn-border:focus {
      outline-offset: -2px;
      background: none;
      outline-width: 2px; }
  .header-cart-wrapper .btn {
    color: #fff; }
    .header-cart-wrapper .btn:hover, .header-cart-wrapper .btn:focus {
      color: #fff; }
    .header-cart-wrapper .btn.btn-primary:hover, .header-cart-wrapper .btn.btn-primary:focus {
      background: #fff; }
  .btn.btn-dark {
    color: #fff; }
    .btn.btn-dark:hover, .btn.btn-dark:focus {
      background: #5b5b5b; }
  .btn.btn-gray {
    color: #fff;
    background: #5b5b5b; }
  .btn.btn-default:before {
    color: #a3a3a3; }
  .btn.btn-default:hover {
    background: #5b5b5b; }
    .btn.btn-default:hover:before {
      color: inherit; }
  body.focus-slyles .btn.btn-default:focus {
    background: #5b5b5b; }
    body.focus-slyles .btn.btn-default:focus:before {
      color: inherit; }
  .btn.btn-block {
    display: block;
    width: 100%;
    text-align: center; }
  .btn.btn-checkout {
    padding-left: 0;
    padding-right: 0;
    overflow: hidden; }
    @media (min-width: 576px) {
      body.desktop .header-cart-wrapper .btn.btn-checkout:before, body.desktop .header-cart-wrapper .btn.btn-checkout:after, body.desktop
      .cart-collaterals .btn.btn-checkout:before, body.desktop
      .cart-collaterals .btn.btn-checkout:after {
        font-family: 'myfont';
        content: '\e827';
        margin: 0 13px;
        line-height: 1;
        font-size: 1.111111111111111rem;
        display: inline-block;
        transition: transform .5s ease; }
      body.desktop .header-cart-wrapper .btn.btn-checkout:before, body.desktop
      .cart-collaterals .btn.btn-checkout:before {
        transform: translate(-180px, 0); }
        .wc-proceed-to-checkout body.desktop .header-cart-wrapper .btn.btn-checkout:before, .wc-proceed-to-checkout body.desktop
        .cart-collaterals .btn.btn-checkout:before {
          transform: translate(-300px, 0); }
      body.desktop .header-cart-wrapper .btn.btn-checkout:hover:before, body.desktop .header-cart-wrapper .btn.btn-checkout:focus:before, body.desktop
      .cart-collaterals .btn.btn-checkout:hover:before, body.desktop
      .cart-collaterals .btn.btn-checkout:focus:before {
        transform: translate(0, 0); }
      body.desktop .header-cart-wrapper .btn.btn-checkout:hover:after, body.desktop .header-cart-wrapper .btn.btn-checkout:focus:after, body.desktop
      .cart-collaterals .btn.btn-checkout:hover:after, body.desktop
      .cart-collaterals .btn.btn-checkout:focus:after {
        transform: translate(180px, 0); }
        .wc-proceed-to-checkout body.desktop .header-cart-wrapper .btn.btn-checkout:hover:after, .wc-proceed-to-checkout body.desktop .header-cart-wrapper .btn.btn-checkout:focus:after, .wc-proceed-to-checkout body.desktop
        .cart-collaterals .btn.btn-checkout:hover:after, .wc-proceed-to-checkout body.desktop
        .cart-collaterals .btn.btn-checkout:focus:after {
          transform: translate(300px, 0); } }
  .btn.btn-order:before {
    content: '\e865';
    font-family: 'myfont';
    line-height: 1;
    font-size: 1.111111111111111rem;
    margin-right: 9px; }
  .btn.btn-inline {
    padding: 0;
    background-color: transparent !important;
    border: none;
    transition: color .3s ease; }
    .btn.btn-inline.btn-sm {
      text-transform: none;
      font-weight: normal !important;
      font-size: .7777777777777778rem !important; }
    .btn.btn-inline.btn-gray {
      color: inherit;
      background-color: transparent !important; }
    .btn.btn-inline.added_to_cart {
      padding: 0; }
  .btn.btn-icon {
    padding: 0;
    background-color: transparent !important;
    border: none;
    color: #a3a3a3;
    transition: color .3s ease; }
    .btn.btn-icon:hover, .btn.btn-icon:focus {
      background-color: transparent; }
    .btn.btn-icon.wowmall-wc-quick-view-button:before {
      font-weight: 400;
      content: '\e8eb';
      font-family: 'myfont';
      font-size: 1.111111111111111rem; }
    .btn.btn-icon .btn-text {
      display: none; }

.add_to_cart_button {
  display: inline-flex;
  align-items: center; }
  .add_to_cart_button:before {
    content: '\e893';
    font-weight: 400;
    font-family: 'myfont';
    font-size: 1.111111111111111rem;
    margin-right: 5px;
    display: inline-block;
    line-height: 1;
    width: 1em;
    min-width: 1em; }
  .add_to_cart_button.product_type_variable:before {
    content: none; }
  .add_to_cart_button.ajax_add_to_cart.added:before {
    content: '\e8b3'; }
  .add_to_cart_button.ajax_add_to_cart.loading:before {
    content: '\e8f5';
    animation: loading 2s infinite linear; }

.social-media-profiles-menu {
  margin: 0 0 36px;
  display: flex;
  flex-wrap: wrap; }
  .social-media-profiles-menu ul.menu {
    display: inline-flex;
    list-style: none; }
    .social-media-profiles-menu ul.menu > li {
      padding: 0; }
      .social-media-profiles-menu ul.menu > li:before {
        content: none; }
      .social-media-profiles-menu ul.menu > li a:hover {
        color: #fff; }
  .social-media-profiles-menu a {
    margin: 0 5px 5px 0;
    display: block;
    text-align: center;
    width: 2.166666666666667rem;
    line-height: 2.166666666666667rem;
    border-radius: 1000px;
    position: relative;
    overflow: hidden;
    color: #fff;
    background-color: #434343;
    text-indent: 999em;
    font-size: .7777777777777778rem;
    transition: background-color .3s ease, color .3s ease; }
    .social-media-profiles-menu a:before {
      font-family: 'myfont';
      position: absolute;
      line-height: 0;
      margin: 0;
      height: auto;
      width: 100%;
      text-align: center;
      top: 52%;
      left: 0;
      display: block;
      text-indent: 0; }
    .social-media-profiles-menu a[href*="facebook.com"]:before {
      content: '\f09a'; }
    .social-media-profiles-menu a[href*="twitter.com"]:before {
      content: '\f099'; }
    .social-media-profiles-menu a[href*="plus.google.com"]:before {
      content: '\f0d5'; }
    .social-media-profiles-menu a[href*="instagram.com"] {
      font-size: .8888888888888889rem; }
      .social-media-profiles-menu a[href*="instagram.com"]:before {
        content: '\f16d'; }
    .social-media-profiles-menu a[href*="pinterest.com"] {
      font-size: .8888888888888889rem; }
      .social-media-profiles-menu a[href*="pinterest.com"]:before {
        content: '\f0d2'; }
    .social-media-profiles-menu a[href*="linkedin.com"] {
      font-size: .8888888888888889rem; }
      .social-media-profiles-menu a[href*="linkedin.com"]:before {
        content: '\f0e1'; }
    .social-media-profiles-menu a[href*="vimeo.com"] {
      font-size: .8888888888888889rem; }
      .social-media-profiles-menu a[href*="vimeo.com"]:before {
        content: '\f27d'; }
    .social-media-profiles-menu a[href*="foursquare.com"] {
      font-size: .8888888888888889rem; }
      .social-media-profiles-menu a[href*="foursquare.com"]:before {
        content: '\f180'; }
    .social-media-profiles-menu a[href*="vk.com"] {
      font-size: .8888888888888889rem; }
      .social-media-profiles-menu a[href*="vk.com"]:before {
        content: '\f189'; }
    .social-media-profiles-menu a[href*="ok.ru"] {
      font-size: .8888888888888889rem; }
      .social-media-profiles-menu a[href*="ok.ru"]:before {
        content: '\f263'; }
    .social-media-profiles-menu a[href*="youtube.com"] {
      font-size: 1.1rem; }
      .social-media-profiles-menu a[href*="youtube.com"]:before {
        content: '\f167'; }
    .social-media-profiles-menu a:hover {
      color: #fff; }
    #colophon .social-media-profiles-menu a:hover {
      background: #fff; }
    body.focus-styles #colophon .social-media-profiles-menu a:focus {
      background: #fff; }
  .wowmall_widget_follow .social-media-profiles-menu {
    padding-bottom: 9px; }
  .social-media-profiles-menu.centered {
    justify-content: center; }

#menu-all-social-media-profiles {
  justify-content: center; }

.wpb_content_element.team-member {
  padding-bottom: 25px; }
  .wpb_content_element.team-member h4 {
    margin-top: 24px;
    margin-bottom: 0; }
  .wpb_content_element.team-member p {
    margin-top: 0; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  min-height: 100%;
  display: flex;
  flex-direction: column; }

.body-maintenance {
  flex: 1 0 auto;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  @media (min-width: 480px) {
    .body-maintenance {
      padding: 50px 20px; } }
  .body-maintenance .logo {
    display: inline-block; }
    @media (min-width: 480px) {
      .body-maintenance .logo {
        margin: 0 0 4.9%; } }
  .body-maintenance h1 {
    text-transform: uppercase;
    color: #fff; }
    @media (max-width: 479px) {
      .body-maintenance h1 {
        font-size: 1.5rem; } }
  .body-maintenance #clock {
    display: flex;
    justify-content: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 0 30px; }
    @media (min-width: 480px) {
      .body-maintenance #clock {
        margin: 1.1% 0 3.9%; } }
    .body-maintenance #clock div {
      margin: 0 1.6%;
      font-size: .8888888888888889rem;
      letter-spacing: .055em; }
    .body-maintenance #clock span {
      display: block;
      font-size: 2.5rem;
      line-height: 1;
      margin: 0 0 5px; }
      @media (min-width: 992px) {
        .body-maintenance #clock span {
          font-size: 7.777777777777778rem; } }
  .body-maintenance .maintenance-newsletter-pretext {
    color: #fff; }
    .body-maintenance .maintenance-newsletter-pretext h3 {
      color: inherit;
      text-transform: uppercase;
      margin: 0 0 11px; }
  .body-maintenance .mc4wp-form {
    margin: 23px 0 20px; }
    .body-maintenance .mc4wp-form .mc4wp-response {
      color: #fff; }
  @media (min-width: 480px) {
    .body-maintenance .mc4wp-form-fields {
      display: flex;
      justify-content: center; } }
  .body-maintenance .mc4wp-form-fields .subscribe-mail-input {
    position: relative;
    margin: 0 0 10px; }
    @media (min-width: 480px) {
      .body-maintenance .mc4wp-form-fields .subscribe-mail-input {
        margin: 0 3px 0 0; } }
    .body-maintenance .mc4wp-form-fields .subscribe-mail-input input {
      border: none;
      height: 40px;
      padding: 5px 10px 5px 40px;
      font-size: 0.7777777777777778rem;
      width: 100%;
      color: inherit; }
      @media (min-width: 480px) {
        .body-maintenance .mc4wp-form-fields .subscribe-mail-input input {
          width: 263px; } }
      .body-maintenance .mc4wp-form-fields .subscribe-mail-input input::-webkit-input-placeholder {
        color: inherit;
        opacity: 1; }
      .body-maintenance .mc4wp-form-fields .subscribe-mail-input input::-moz-placeholder {
        color: inherit;
        opacity: 1; }
      .body-maintenance .mc4wp-form-fields .subscribe-mail-input input :-ms-input-placeholder {
        color: inherit;
        opacity: 1; }
    .body-maintenance .mc4wp-form-fields .subscribe-mail-input:before {
      font-size: .8888888888888889rem;
      content: '\e895';
      font-family: 'myfont';
      position: absolute;
      top: 50%;
      line-height: 0;
      left: 19px; }
  .body-maintenance .mc4wp-form-fields .btn {
    cursor: pointer;
    width: 100%;
    text-align: center; }
    @media (min-width: 480px) {
      .body-maintenance .mc4wp-form-fields .btn {
        width: auto; } }
  .body-maintenance .social-media-profiles-menu {
    display: flex;
    justify-content: center; }
    .body-maintenance .social-media-profiles-menu a {
      border: 2px solid #fff;
      line-height: calc( 2.166666666666667rem - 4px);
      background: none;
      text-decoration: none; }
      .body-maintenance .social-media-profiles-menu a:hover {
        background: #fff; }
  .body-maintenance .footer-text {
    color: #fff;
    font-size: .7777777777777778rem; }
    @media (min-width: 480px) {
      .body-maintenance .footer-text {
        margin: 3% 0 0; } }
    .body-maintenance .footer-text a {
      color: inherit;
      text-decoration: none; }
      .body-maintenance .footer-text a.wowmall-privacy-link.at_start:after {
        content: '';
        height: .8571428571428571em;
        width: 1px;
        display: inline-block;
        vertical-align: baseline;
        background: #fff;
        margin: 0 11px 0 16px; }
      .body-maintenance .footer-text a.wowmall-privacy-link.at_end:before {
        content: '';
        height: .8571428571428571em;
        width: 1px;
        display: inline-block;
        vertical-align: baseline;
        background: #fff;
        margin: 0 16px 0 12px; }

.mc4wp-form {
  margin: 0 0 40px; }
  .mc4wp-form .btn {
    position: relative;
    line-height: 1.5;
    height: 40px; }
    .mc4wp-form .btn .subscribe-text {
      transition: transform .3s ease;
      display: block; }
    .mc4wp-form .btn .subscribe-loader {
      transform: scale(0);
      transition: transform .3s ease;
      position: absolute;
      top: 50%;
      left: 15px;
      line-height: 0; }
      .mc4wp-form .btn .subscribe-loader:before {
        font-weight: normal;
        display: block;
        font-size: 1.111111111111111rem;
        line-height: 0;
        content: '\e8f5';
        font-family: 'myfont';
        animation: loading 2s infinite linear; }
